<header class="glass">
  <h1><%= title || 'EcoShare' %></h1>
  <div class="header-buttons">
    <button id="themeToggle">Tema</button>
    <div class="profile-menu">
      <img id="profilePic" class="profile-pic" src="" alt="Perfil">
      <div id="profileDropdown" class="profile-dropdown">
        <button id="logoutBtn">Sair</button>
      </div>
    </div>
  </div>
</header>
